body{
}

.container-fluid{
}

#title{
    text-align: center;
    font-family: monospace;
    background-color: aliceblue;
}

#navbar{
    text-align: center;
}

#pwk{
    text-align: center;
    background-color: aliceblue;
}

#statement{
    text-align:center;
    font-size: 15px;
}

#bluetooth{
    text-align: center;
}

#recommend{
    text-align: center;
}

#about{
    text-align: center;
}